page-login {
    .login-box {
        margin-top: 60px;
        padding: 30px 58px;
        text-align: center;
        .slogan {
            font-size: 18px;
            margin-top: 20px;
            color: rgb(18,18,18);
            margin-bottom: 80px;
        }
        img {
            max-width: 200px;
        }
        .user-agreements {
            // text-align: left;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            .agreement {
                color: color($colors, primary);
            }
        }
    }

    .custom-btn {
        margin-bottom: 20px;
    }

    .agreement {
        text-align: center;
        color: #999;
    }
}
