page-login {
    .login-box {
        margin-top: 60px;
        padding: 30px 5px;
        text-align: center;
        ion-card {
            box-shadow: none;
            // border: 0.55px solid #e6e6e6;
        }
        
        .custom-item .item-inner {
            border-bottom: 0.55px solid #e6e6e6!important;
        }

        .slogan {
            font-size: 22px;
            margin-top: 20px;
            color: rgb(18,18,18);
            margin-bottom: 10px;
        }
        img {
            max-width: 200px;
        }
        .user-agreements {
            // text-align: left;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            .agreement {
                color: color($colors, primary);
            }
        }
    }

    .custom-btn {
        margin-bottom: 20px;
    }

    .agreement {
        text-align: center;
        color: #999;
    }
}
