<!--
  Generated template for the SelectProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="primary">
      <ion-title>选择兼职项目</ion-title>
    </ion-navbar>
    
    <ion-toolbar color="white">
        <ion-searchbar
        #searchBar
        [(ngModel)]="keyword"
        
        [showCancelButton]="true"
        cancelButtonText="取消"
        (ionInput)="startSearch(keyword);"
        placeholder="搜索"
        [animated]="false"
        name="search"
      >
      </ion-searchbar>
    </ion-toolbar>

  </ion-header>

<ion-content>
    <div class="empty-error-box" *ngIf="!!error">
        {{error}}
      </div>
      <ion-list>
        <button ion-item *ngFor="let item of data" (click)="selectItem(item);" text-wrap style="font-size: 14px; color: #666;">
          [编号:{{item.id}}] {{item.title}}
        </button>
      </ion-list>
</ion-content>
