<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- s -->

<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>我的</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>
  <ion-card *ngIf="!!user">
    <ion-card-header>基本资料</ion-card-header>
    <ion-list>
      <ion-item>
        登录账号
        <ion-note item-right>{{user.mobile}}</ion-note>
      </ion-item>
      <ion-item>
        姓名
        <ion-note item-right>{{user.name}}</ion-note>
      </ion-item>
      <ion-item>
        身份证
        <ion-note item-right>{{user.idcard}}</ion-note>
      </ion-item>
      <ion-item>
        性别
        <ion-note item-right>{{user.sex}}</ion-note>
      </ion-item>
      <ion-item>
        生日
        <ion-note item-right>{{user.birth}}</ion-note>
      </ion-item>
      <ion-item>
        电话
        <ion-note item-right>{{user.phone}}</ion-note>
      </ion-item>
      <ion-item>
        是否在校大学生
        <ion-note item-right>{{user.is_student ? '是' : '否'}}</ion-note>
      </ion-item>
      <ion-item>
        学校
        <ion-note item-right>{{user.college}}</ion-note>
      </ion-item>
      <ion-item>
        专业
        <ion-note item-right>{{user.specialty}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="!!user">
    <ion-card-header>支付信息</ion-card-header>
    <ion-list>
      <ion-item>
        支付宝姓名
        <ion-note item-right>{{user.pay_name}}</ion-note>
      </ion-item>
      <ion-item>
        支付宝账号
        <ion-note item-right>{{user.pay_account}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
